<div class="dashboard-container">
  <div class="card-container">
    <div *ngFor="let car of cars" class="car-card">
      <div class="car-image">
        <img [src]="car.processedImage" alt="Car Image">
      </div>
      <div class="car-details">
        <h2 class="car-title">{{ car.brand }} - {{ car.name }}</h2>
        <p class="car-description">{{ car.description }}</p>
        <hr>
        <div class="car-info">
          <h5>
            Price: <b>${{ car.price }}</b> - Color: <b>{{ car.color }}</b> - Transmission: <b>{{ car.transmission }}</b> - Type: <b>{{ car.type }}</b> - Year: <b>{{ car.year }}</b>
          </h5>
        </div>
        <div class="car-actions">
          <button class="btn-details" nzSize="small" nz-button nzType="primary" routerLink="/customer/book/{{car.id}}">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
